.current-chat-area__selected {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.current-chat__header {
    height: 70px;
    display: flex;
    border-bottom: 1px solid var(--dark-gray-color);
    width: 100%;
    align-items: center;
}

.current-chat__header-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 68px;
    height: 72px;
}

.current-chat__header-icon{
    border-radius: 50%;
    width: 48px;
    height: 48px;
}

.current-chat-name {
    font-weight: bold;
    padding: 10px;
    flex-grow: 1;
}

.chat-settings {
    padding: 10px;

    &:hover {
        cursor: pointer;
    }
}

.current-chat__footer {
    display: flex;
    height: 54px;
    border-top: 1px solid var(--dark-gray-color);
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}

.add-file-button {
    padding: 10px;

    &:hover {
        cursor: pointer;
    }
}

.send-button {
    padding: 10px;

    &:hover {
        cursor: pointer;
    }
}

.user-form {
    position: absolute;
    border: 1px solid gray;
    width: 400px;
    height: 230px;
    top: calc(50% - 115px);
    left: calc(50% - 200px);
    border-radius: 8px;
    background: var(--bg-form-chat-color);
}

.new-user-button {
    text-align: center;
    margin: 10px 14px;
}

.user-form-title {
    font-size: 14px;
    text-align: center;
    margin: 20px 0;
}

.create-user-button,
.back-chat-button {
    margin: 10px calc(50% - 140px);
}