.current-chat-area__selected {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.current-chat__header {
    height: 70px;
    display: flex;
    border-bottom: 1px solid var(--dark-gray-color);
    width: 100%;
    align-items: center;
}

.current-chat__header-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 68px;
    height: 72px;
}

.current-chat__header-icon{
    border-radius: 50%;
    width: 48px;
    height: 48px;
}

.current-chat-name {
    font-weight: bold;
    padding: 10px;
    flex-grow: 1;
}

.chat-settings {
    padding: 10px;

    &:hover {
        cursor: pointer;
    }
}

.chat-settings__icon {
    background-image: url('/static/assets/chat-settings.svg');
    width: 23px;
    height: 39px;
    background-position: 20px 10px;
    background-repeat: no-repeat;
}

.current-chat__footer {
    display: flex;
    height: 54px;
    border-top: 1px solid var(--dark-gray-color);
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}

.add-file-button {
    padding: 10px;

    &:hover {
        cursor: pointer;
    }
}

.add-file-button__icon {
    margin-bottom: 8px;
    margin-left: 10px;
    background-image: url('/static/assets/add-file.svg');
    width: 32px;
    height: 32px;
    background-size: 32px;
    background-repeat: no-repeat;
}

.send-button {
    margin-bottom: 8px;
    margin-left: 10px;
    background-image: url('/static/assets/arrow-send.svg');
    width: 32px;
    height: 32px;
    background-size: 32px;
    background-repeat: no-repeat;
    cursor: pointer;

    > div {
        width: 100%;
        height: 100%;
    }

    &:hover {
        cursor: pointer;
    }
}

.send-button__icon {
    width: 32px;
    height: 32px;
}

.user-form {
    z-index: 1000;
    position: absolute;
    border: 1px solid gray;
    width: 400px;
    height: 230px;
    top: calc(50% - 115px);
    left: calc(50% - 200px);
    border-radius: 8px;
    background: var(--bg-form-chat-color);
}

.new-user-button {
    text-align: center;
    margin: 10px 14px;
}

.user-form-title {
    font-size: 14px;
    text-align: center;
    margin: 20px 0;
}

.create-user-button,
.back-chat-button {
    margin: 10px calc(50% - 140px);
}

.new-chat-input,
.new-user-input {
    height: 30px;
    width: 80%;
    margin: 0 calc(40% - 120px);
}

.users-list {
    border-bottom: 1px solid blue;
    width: 90%;
    min-height: 30px;
    margin: 10px 0;
    padding: 5px;
}

.user-item {
    font-style: italic;
}

.message {
    border: 1px solid gray;
    border-radius: 8px;
    padding: 5px;
    min-height: 30px;
    width: 90%;
    margin: 5px 0;
}